<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultOutputCSVFile" value="C:\OCM\Import Files\username_cch_batch_.csv" />
    <add key="DefaultLocationCSVFile" value="C:\OCM\Locations\LocationIDs.csv" />
    <add key="ChildProfileUpdateValues" value="2014 - CCH Form,2013 - CCH Form,2012 - CCH Form"/>
  </appSettings>
</configuration>