<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultOutputCSVFile" value="D:\Bethesda\Docs\Output.csv" />
    <add key="DefaultLocationCSVFile" value="D:\Bethesda\Docs\LocationIDs.csv" />
    <add key="ChildProfileUpdateValues" value="2012 - CCH Form"/>
  </appSettings>
</configuration>