<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultOutputCSVFile" value="C:\OCM\Import Files\username cch batch.csv" />
    <add key="DefaultLocationCSVFile" value="C:\OCM\Locations\LocationIDs.csv" />
    <add key="ChildProfileUpdateValues" value="2012 - CCH Form"/>
  </appSettings>
</configuration>